[Unit]
Description=Run dns-update periodically

[Timer]
Unit=dns-update.service
OnBootSec=0
OnCalendar=*:00/5
AccuracySec=1s
Persistent=yes

[Install]
WantedBy=timers.target
